.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  color: #eee;
}

.message {
  font-weight: 700;
  font-size: 2rem;

  margin-bottom: 1rem;
}

.made-by {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.powered-by {
  color: #666;
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.year-copy {
  color: #666;
  font-size: 12px;
  margin-top: 0.25rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  margin-top: 1rem;
  padding: 0.25rem 0;

  border-radius: 0.25rem;
  transition: 300ms ease;
}

a {
  margin-right: 2rem;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.last {
  margin-right: 0;
}
